$v-color-main: rgb(27, 27, 75);


$v-color-main: #102540;
$v-color-main-2: #142b48;
$v-color-sub:#338aac;
$v-color-sub-2:#33b076;
$v-color-white:#fdf7f8;
$v-color-black:rgb(37, 36, 36);


$v-font-1:13px;
$v-font-2:16px;
$v-font-3:27px;
$v-font-4:40px;

$v-space-1: 10px;
$v-space-2: 20px;
$v-space-3: 30px;
$v-space-4: 40px;


$v-breakpoint_xs: 576px;
$v-breakpoint_sm: 768px;
$v-breakpoint_md: 992px;
$v-breakpoint_lg: 1200px;
